html {
    position: relative;
    min-height: 100%;
}
body{
    background-color: #dce9ef;
    height: 100%;
    width: 100%;
    position: absolute;
}

.navbar{
    z-index: 1;
    position: fixed;
    width: 100%;
    background-color: #00356a;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0%;
}
.nav.navbar-nav{
    border: 0;
    padding-left: 20px;
    padding-right: 10px;
}
.container-fluid{
    margin-left: 50px;
}

.btn.btn-primary{
    margin-top: 8px;
    margin-left: 10px;
}
.nav.navbar-nav.navbar-right li a {
    color: white;
}

.nav.navbar-nav li a {
    color: white;
}