{% from "_macros.html" import header %}
{% from "_macros.html" import footer %}

<!-- Header -->
{{header()}}
<!-- FeedBack form -->
<style>
.form-area
{
    position: relative;
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
	margin: 10px 0px 40px;
	border: 1px solid GREY;
	}
</style>  

<div class="container" style="margin-top: 70px; margin-left: 30%;">
        <div class="col-md-5">
            <div class="form-area">  
                <form role="form">
                <br style="clear:both">
                            <h3 style="margin-bottom: 25px; text-align: center;">Повідомлення</h3>
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Ім'я" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="email" name="email" placeholder="Емейл" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Мобільний номер" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Тема" required>
                            </div>
                            <div class="form-group">
                            <textarea class="form-control" type="textarea" id="message" placeholder="Повідомлення" maxlength="140" rows="7"></textarea>                 
                            </div>
                    
                <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Підтвердити</button>
                </form>
            </div>
        </div>
</div>
<!-- Footer -->
{{footer()}}