{% from "_macros.html" import header %}
{% from "_macros.html" import footer %}
{% from "_macros.html" import header_2 %}

<!-- Header -->
{{header_2()}}
<!-- Home content -->
<style>
    .custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }   
</style>

<div class="madia" style="margin-bottom: 5%; margin-top: 8%; margin-left: 10%">
        <h1 style="color: rgb(14, 14, 94)">
                {{name}}
        </h1>
        <h2 style="color: rgb(14, 14, 94)">
                {{description}}
        </h2>            

        <div class="container">
                <div class="row col-md-6 col-md-offset-2 custyle">
                <table class="table table-striped custab">
                <thead>
                <!-- <a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a> -->
                    <tr>
                        <th>Назва черги</th>
                        <th class="text-center">Дія</th>
                    </tr>
                </thead>
                <tbody id="table">
                        {% for queue in queues %}
                            <tr id={{queue.id}}>
                                <td>{{queue.name}}</td>
                                <td class="text-right" style="margin-right: 10px;">
                                    <button class='btn btn-info btn-xs' href="#">
                                        <span class="glyphicon glyphicon-edit"></span>Редагувати
                                    </button>
                                    <button class="btn btn-danger btn-xs">
                                        <span class="glyphicon glyphicon-remove"></span> Видалити
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                </tbody>
                </table>
                <input  id="addingInput" type="text" placeholder="Введіть назву черги">
                <button id="addinButton" class="btn btn-primary btn-xs pull-right" style="margin-top: 0; margin-right: 10px;" onclick="addQueue()"><b>+</b> Додати чергу</button>
                </div>
            </div>

</div>
<script>
    function addQueue(){
        var text = document.getElementById("addingInput").value;
        if ( text === "")
            return;

        var parenttbl = document.getElementById('table');
        var id = parenttbl.lastElementChild.id;
        var newel = document.createElement('tr');
        newel.setAttribute("id", parseInt(id)+1);
        newel.innerHTML = "<tr><td>" + text + "</td><td class=\"text-right\" style=\"margin-right: 10px;\"><a class='btn btn-info btn-xs' href=\"#\"><span class=\"glyphicon glyphicon-edit\"></span> Редагувати</a> <a href=\"#\" class=\"btn btn-danger btn-xs\"><span class=\"glyphicon glyphicon-remove\"></span> Видалити</a></td></tr>";
        parenttbl.appendChild(newel);
        document.getElementById("addingInput").value = "";
    }
    (function(){
        var trs = document.getElementById("table");
        for(var i = 0; i < trs.childElementCount; i++)
        {
            var tr =  trs.children[i];
            var but = tr.children[1].children[1]; 
            but.onclick = function(){
                tr.remove();
            }
        }

    })();
</script>
<!-- Footer -->
 {{footer()}}