<html>
        <head>
                <script type="text/javascript" src="https://unpkg.com/mqtt@2.18.1/dist/mqtt.min.js"></script>
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
                <style>
.table-success, .table-light {text-align:center;}
                </style>
        </head>
        <body>
        <div id="destination">
        </div>
        <script>
                /*
                {{data|safe}}
                */
		function set_state(state) {
                        h = '<table class="table">'
                        for (var i = 0; i < state.length; ++i) {
                                if (state[i].ready)
                                        h += '<tr class="table-success"><td>' + state[i].num + '</td>' + '<td>' + state[i].win + '</td>'
                                else
                                        h += '<tr class="table-light"><td>' + state[i].num + '</td><td></td>'
                                h += '</tr>'
                        }
                        h += '</table>'
                        document.getElementById('destination').innerHTML = h
		}
		var state = JSON.parse('{{data|safe}}')
		set_state(state)
                var client = mqtt.connect('ws://miraqueue.ko.tl:9001');
client.on('connect', function () {client.subscribe('{{qid}}');console.log('test')});
                client.on('message', function (topic, message) {
                        obj = JSON.parse(message.toString('utf8'));
                        if (obj.operation == 'add') {
                                state.push({num:obj.queue_number, ready:false});
                        } else if (obj.operation == 'call') {
                                state = state.filter(e => !(e.num == obj.queue_number && !e.ready));
                                state.unshift({num: obj.queue_number, ready:true, win:obj.window});
                        } else if (obj.operation == 'remove') {
                                state = state.filter(e => e.num != obj.queue_number);
                        }
			set_state(state);
                });
        </script>
        </body>
</html>
